{% extends "base.html" %}

{% block title %}
    Panels
{% endblock title %}


{% block content %}

    <h1>Welcome to Django ORM</h1>

        <p>This is Jyan Pico's for Kickstart Coding's Homework 2!

        <p>Learn about our top projects below:</p>

<div class="row">

{% for panel in dboard %}

<div class="col-md-3">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <!-- having troubles with django templating -->
            <h5 class="card-title"> {{ panel.github_username }}</h5>
            <p class="card-text"> {{ panel.repo_name }}</p>
            <!-- {{ panel.render_chart|safe }} -->
            <a href="details/{{ panel.id }}/" class="card-link">More info</a>
        </div>
    </div>
</div>
        
{% endfor %}

{% endblock content %}